#find-trump-popup {
  color: #fff;
  background-color: #fa8072;
  width: 170px;
  height: 60px;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
  display: none;
  position: absolute;
  border-radius: 6px;
  z-index: 100;
}
#find-trump-popup:after {
  border-top: 12px solid #fa8072;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: -12px;
  left: 50%;
}
